.menu{
    padding: 18px 8%;
    @include pos($pos: fixed, $t: 0, $r: 0, $l: 0, $z: 3);
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    
    &__item{
        padding-left: 100px;
        font: 700 24px $arsenal;
        color: $grey;
    }

    &__link{

        &.active{
            border-bottom: 2px solid $grey; 
        }
    }
    &__logo{
       
    }
    
    .icon{
        font-size: 10px;
    }
    
}