.subscribe{
    margin-bottom: 19vh;
    
    .header__container{
        margin-bottom: 14vh;
    }

    input{
        background-color: #fff;
        color: $grey;
        border-color: $grey;
    }
}