.slider{

    &__col-1{
        display: flex;
        align-items: flex-end;
        padding-right: 5%;
       
    }

    &__col-4{
        padding-right: 20%;
        padding-left: 12%;
    }

    &__col-3{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__item{
        height: 20vh;  
    }

    &__item-big{
        height: 65vh;
    }
 
    &__img{
        height: 100%;
        max-width: 100%;
    }

    &__img2{
        height: 100%;
        max-width: 100%;
        padding-left: 25%;
    }

    &__arrows{
        @include pos($pos: absolute, $b: 0, $r: 0, $z: 2);
        cursor: pointer;
    }

    &-prev{
        padding: 5px 15px;
        background-color: #fff;
    }

    &-next{
        padding: 5px 15px;
        background-color: #fff;
    }
   
}

